html, body {
height: 100%;
}

html {
display: table;
margin: auto;
}

body {
display: table-cell;
vertical-align: middle;
}
body {
  color: rgb(0, 0, 255);
  background-color: white;
  font-size: 16px;
  font-family: 'DejaVu Sans', sans-serif;
  width: 640px;
  float: center;
}
code {
    font-family: 'DejaVu Sans Mono', monospace;
}

a:link {
    color: rgb(0, 0, 255);
}
a:hover {
    color: rgb(64, 64, 255);
}
a:visited {
    color: rgb(0, 0, 200);
}

@media (prefers-color-scheme: dark) {

html, body {
height: 100%;
}

html {
display: table;
margin: auto;
}

body {
display: table-cell;
vertical-align: middle;
}
    body {
      color: rgb(0, 255, 0);
      background-color: black;
      font-size: 16px;
      font-family: 'DejaVu Sans', sans-serif;
      width: 640px;
      float: center;
    }
    code {
        font-family: 'DejaVu Sans Mono', monospace;
    }
    a:hover {
        color: rgb(128, 255, 128);
    }
    a:link {
        color: rgb(0, 255, 00);
    }
    a:visited {
        color: rgb(0, 200, 00);
    }
}
